
//TEXT:
//text color
$primaryTextWhite:#F8F8F8;
$primaryTextLightGrey:#CCCCCC;
$primaryTextDarkGrey:#2B2B28;

$secondaryTextTransparent: rgba(248, 248, 248, 0.35);
$secondaryTextPurple:#BF74C5;
$secondaryTextDarkRed:#EA211D;
$secondaryTextLightRed:#E84340;
$secondaryTextGreen:#439037;
//text sizes
$largestFontSize: 20px;
$largeFontSize: 16px;
$subtitleOneFontSize: 12px;
$subtitleTwoFontSize: 10px;
//text bolder + spacing
$textBolder:bolder;
$textMuted: rgba(248, 248, 248, 0.603);
$letterSpacing:0.4px;


//BACKGROUND COLOR:
//primary background
$primaryBackgroundGreen:#3F6A0E;
//nav
// $navBackgroundColor:rgb(32, 200, 158) !important;
// $navBackgroundColor:rgba(200, 127, 32, 0.932) !important;

// $navBackgroundColor:#b2d1d6 !important;
$navBackgroundColor:#628c9a !important;

// $navBackgroundColor:#fd7f66!important;
// $navBackgroundColor:#48FFC6!important;
//footer
// $footerBackgroundColor:#46285D;
$footerBackgroundColor:#8C50B9;
//card
$cardBackgroundColor:rgba(40, 9, 63, 0.25);



//BUTTONS:
//background color
$lightGreyBtn:#F8F8F8;
$purpleBtn:#BF74C5;
$redBtn:#E84340;
$greenBtn:#3FAF2E !important;
$transparentBtn:rgba(248, 248, 248, 0.00)!important;






