body {
  font-family: Open Sans !important;
  background: #F8F8F8 !important;
  color: #F8F8F8 !important;
}

.basicDescriptionText {
  color: #2B2B28 !important;
  font-weight: 0 !important;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.card-body {
  background-color: rgba(209, 185, 227, 0.25);
}

.card-title {
  color: #2B2B28;
}

.jumbotronSale {
  margin: 0px !important;
  padding: 0px !important;
  background-color: #F8F8F8 !important;
}

.slideMainBtn {
  color: #F8F8F8 !important;
  font-weight: bolder !important;
  font-size: 16px;
  letter-spacing: 0.4px;
  border: 0.4px solid rgba(43, 43, 40, 0.4) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #3FAF2E !important;
}

.cardPriceProduct {
  margin-top: -12rem;
  z-index: 1;
  margin-left: 50%;
  margin-bottom: 13%;
}

.cardPriceProduct div {
  color: #CCCCCC !important;
  font-size: larger;
}

.cardPriceProduct button, .cardPriceProduct .transparentBtn {
  color: #CCCCCC !important;
  border: 0px !important;
  margin: 0px !important;
  margin-bottom: 5px !important;
}

.cardPrice {
  -webkit-box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.3) !important;
  background-color: rgba(139, 80, 185, 0.5) !important;
  color: #CCCCCC !important;
}

.modal-open {
  padding: 0px !important;
}

.modalProductDetails .modal-dialog {
  margin-top: 2% !important;
}

.modalX {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  cursor: pointer;
}

.modalXBasket {
  position: absolute;
  top: -21px;
  right: 16px;
  font-size: 18px;
  cursor: pointer;
}

div.modal-content {
  background-color: transparent;
  border: none;
}

.modal-dialog {
  margin-top: 5% !important;
}

.searchFormControl .form-control {
  width: 80% !important;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.searchFormControl .modal-content {
  width: 60% !important;
}

.searchFormControl input {
  background-color: transparent !important;
  color: #CCCCCC !important;
}

.containerSearchBar.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2B2B28;
  background-color: #F8F8F8;
}

.basketModal .modal-dialog {
  margin-right: 25px;
}

.containerSearchBar div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cardSearchBar.card {
  border-radius: 0px;
}

.transparentBtn {
  color: #2B2B28 !important;
  font-weight: bolder !important;
  font-size: 16px;
  letter-spacing: 0.4px;
  border: 0.4px solid rgba(43, 43, 40, 0.4) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: rgba(248, 248, 248, 0) !important;
  margin-left: 10px;
  border-radius: 0px;
}

.btn-primary {
  border-radius: 0px !important;
}

.card-img, .card-img-top {
  border-radius: 0px !important;
}

.card {
  border-radius: 0px !important;
}

.cardGroup {
  margin: 15px !important;
  padding: 3px !important;
}

.colGroup {
  padding: 0px !important;
}

.colGroupPromotion {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.rowGroup {
  padding: 0px !important;
  margin: 0px !important;
}

.card-body {
  padding: 0px !important;
  padding-left: 15px !important;
}

.subtitleLargest {
  color: #2B2B28 !important;
  font-weight: bolder !important;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

hr.cardPriceHR {
  background-color: rgba(0, 0, 0, 0.514);
}

hr {
  background-color: rgba(0, 0, 0, 0.103);
}

.subtitleLarge {
  color: #F8F8F8 !important;
  font-weight: 0 !important;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.subtitleOne {
  color: #F8F8F8 !important;
  font-weight: bolder !important;
  font-size: 12px;
}

.subtitleTwo {
  color: #F8F8F8 !important;
  font-weight: bolder !important;
  font-size: 10px;
  letter-spacing: 0.4px;
}

.navbarMain {
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
  background-color: rgba(133, 206, 176, 0.911) !important;
  color: #CCCCCC !important;
}

.nav-link {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar-brand {
  color: #F8F8F8 !important;
}

footer {
  letter-spacing: 1px;
  background-color: #F8F8F8;
  margin-top: 60px;
}

a {
  color: #2B2B28 !important;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
  -webkit-transition: -webkit-transform 0.5s linear !important;
  transition: -webkit-transform 0.5s linear !important;
  transition: transform 0.5s linear !important;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear !important;
  cursor: pointer;
}

a:hover {
  color: #F8F8F8 !important;
  font-size: 18px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav a.footerLink:hover {
  color: #2B2B28 !important;
}

a img {
  -webkit-transition: -webkit-transform 0.5s linear !important;
  transition: -webkit-transform 0.5s linear !important;
  transition: transform 0.5s linear !important;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear !important;
}

a img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding: 0px !important;
}

.footerTopElementOne {
  border: 0.3px solid #2B2B28;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.356);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.356);
  border-radius: 1px;
}

.footerBottom {
  background-color: #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px;
  padding-bottom: 10px;
  letter-spacing: 5px;
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  a:hover {
    color: #F8F8F8 !important;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 465px) {
  .footerTopElementOne:first-child img {
    cursor: pointer;
    width: 45px;
    height: 45px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .footerTopElementOne:first-child a {
    display: none;
  }
  .modalXBasket {
    top: -16px;
  }
  .basketModal .modal-dialog {
    margin-top: 10% !important;
    margin-right: 25px !important;
    margin-left: 0px !important;
  }
  .cardPriceProduct {
    margin-top: -10rem;
    z-index: 1;
    margin-left: 50%;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 750px) {
  .hideSetionMediaOne {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .chosenForYouCarousel a.carousel-control-prev, .chosenForYouCarousel a.carousel-control-next {
    width: 15% !important;
  }
  .chosenForYouCarousel {
    margin: 0px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.productTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 5px !important;
  margin-top: 25px;
}

.chosenForYouCarousel {
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thumbnailCarousel {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.similarProducts {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chosenForYouRow {
  margin: 5px;
}

.thumbnailCarouselRow {
  margin: 5px;
}

.carousel-control-next, .carousel-control-prev {
  width: 5% !important;
}

.chosenForYouCarousel a.carousel-control-prev {
  margin-left: -60px !important;
}

.thumbnailCarousel a.carousel-control-prev {
  margin-left: -30px !important;
}

.carousel-control-prev-icon {
  background-image: url("../assets/prevIcon.png") !important;
  width: 40px !important;
  height: 40px !important;
}

.carousel-control-next-icon {
  background-image: url("../assets/nextIcon.png") !important;
  width: 40px !important;
  height: 40px !important;
}

.carousel-indicators li {
  background-color: rgba(133, 206, 176, 0.911) !important;
  height: 8px !important;
}

a td, a td:last-child :hover {
  color: #2B2B28;
}
/*# sourceMappingURL=style.css.map */