@import './variables';
@import './functions';


body {
    font-family: Open Sans !important;
    background: #3F6A0E !important;
    color: #F8F8F8 !important;
    
  }
  
.subtitleLargest {
    @include mainText($primaryTextWhite,$textBolder,$largestFontSize);
    
}

.subtitleLarge {
    @include mainText($primaryTextWhite,$putFontWeight,$largeFontSize);
    
}
