@import './variables';
@import './functions';


body {
    font-family: Open Sans !important;
    background:#F8F8F8 !important;
    color: #F8F8F8!important; 
  }

  .basicDescriptionText{
    @include mainText($primaryTextDarkGrey,0,$largeFontSize);
    letter-spacing: 0.4px;

  }

  .card-body{
    background-color:$cardBackgroundColor;
    
  }
  .card-title {
    color: $primaryTextDarkGrey;
  }
  
  //JUMBOTRON SALE

  .jumbotronSale {
    margin:0px !important;
    padding:0px !important;
  }

//SLIDE MAIN
.slideMainBtn{
    @include mainText($primaryTextWhite,$textBolder,$largeFontSize);
    letter-spacing: $letterSpacing;
    @include otherBtn();
    background: $greenBtn;

    //CHECK !IMPORTANT HOW TO OVERWRITE PROPERLY!!!!!!!!!
    
}

//CARD PRODUCT PRICE (PRODUCT DETAILS PAGE)

.cardPriceProduct{
    top: -10rem;
    z-index:1;
    margin-left: 14rem;
   
}

.cardPrice {
    box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.3)!important;
    background-color: rgba(139, 80, 185, 0.5) !important;
    color:#CCCCCC !important;
}

//BREADCRUMB (PRODUCT DETAILS PAGE)

.breadcrumb {
    padding:0px !important;
    background-color: transparent !important; 
    margin-left: 30px;   
}

.breadcrumb-item a {
    color: $primaryTextDarkGrey;
    
}

//MODAL OPEN
.modal-open {
    padding:0px !important;
}

// modal Product Details
.modal-dialog {
    margin-top: 5% !important;
}
// modal searchBar
.modalSearch .modal-dialog {
    margin-top: 0% !important ;
}

.modalSearch .modal-content {
    background-color:transparent;
    border: none;  
}

.searchFormControl .form-control {
    width: 80% !important;
    border-radius: 0;
    // border:none;
    border: 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);  
}

.searchFormControl input {
    background-color: transparent !important;
    color: $primaryTextLightGrey !important;
    
}

//searchBar Card
.containerSearchBar.card-body{
    display: flex;
    justify-content: space-between;
    color:$primaryTextDarkGrey;
    background-color:#F8F8F8;
}

//modal basket
.basketModal .modal-dialog {
  margin-right: 25px;
}

.containerSearchBar div{
   padding-top: 5px;
   padding-bottom: 5px;
}

.cardSearchBar.card{
    border-radius: 0px;
}


.transparentBtn {
        @include mainText($primaryTextDarkGrey,$textBolder,$largeFontSize);
        letter-spacing: $letterSpacing;
        @include otherBtn();
        background: $transparentBtn;
        margin-left: 10px;
}

.discoverButton{
    background-color: $footerBackgroundColor !important;
    margin-left: !important;
}

.cardGroup {
    margin:15px !important; 
    padding: 3px !important;
}

.colGroup {
    padding: 0px !important;
}

.colGroupPromotion {
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}

.rowGroup {
    padding: 0px !important;
    margin: 0px !important;
}

.card-body {
    padding: 0px !important;
    padding-left: 15px !important;
}
  
.subtitleLargest {
    @include mainText($primaryTextDarkGrey,$textBolder,$largestFontSize);
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

hr {
    background-color: #AF85CE;
    box-shadow: 0px 1px 3px 1px rgba(184, 184, 184, 0.6);
    
}

.subtitleLarge {
    @include mainText($primaryTextWhite,0,$largeFontSize);
    letter-spacing: $letterSpacing;
}

.subtitleOne {
    @include mainText($primaryTextWhite,$textBolder,$subtitleOneFontSize);
    
}

.subtitleTwo {
    @include mainText($primaryTextWhite,$textBolder,$subtitleTwoFontSize);
    letter-spacing: $letterSpacing;
}

// .navSubtitleOne {
//     @include mainText($primaryTextLightGrey,$textBolder,$subtitleTwoFontSize);
//     text-transform: uppercase;
// }

// .navSubtitleTwo {
//     @include mainText($primaryTextDarkGrey,0,$subtitleTwoFontSize);
// }

  //navbarMain
  .navbarMain {
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.3)!important;
    background-color: $navBackgroundColor;
    color:#CCCCCC !important;
}

.nav-link{
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.navbar-brand{
    color:$primaryTextWhite !important;
}

//footer
footer {
    letter-spacing: 1px;
    background-color:$footerBackgroundColor;
}

a {
    color:$primaryTextDarkGrey !important;
    font-size: $largeFontSize;
    text-transform: uppercase;
    font-weight:lighter;
}

a:hover{
    color:$primaryTextWhite!important;
    font-size: 18px;
    transition: transform 0.5s ease;
}


a img:hover{
    transform: scale(1.5);
    padding:0px !important;
    transition: transform 0.5s ease;
}

.footerTopElementOne{
    border: 0.3px solid #2B2B28;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.356) ;
    border-radius: 1px;
}

.footerBottom{
    background-color:rgb(114, 71, 146); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:2px;
    padding-bottom: 10px;
    letter-spacing: 5px;
    
}

@media screen and (max-width:991px){
    .nav-link{
        padding-top:10px !important;
        padding-bottom:10px !important;
    }
}

@media screen and (max-width:465px){
    .nav-link{
        padding-top:10px !important;
        padding-bottom:10px !important;
    }

    .footerTopElementOne:first-child img{
        cursor: pointer;
        width: 45px;
        height: 45px;
        transition: transform 0.5s;
    }
    .footerTopElementOne:first-child a{
        display: none;
    }    
}

@media screen and (max-width:750px){
    .hideSetionMediaOne{
        display:none !important;
    }
}

@media screen and (max-width:600px){
    .chosenForYouCarousel a.carousel-control-prev, .chosenForYouCarousel a.carousel-control-next{
        width: 15% !important;
    }
    .chosenForYouCarousel{
        margin:0px;
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chosenForYouCarousel{
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chosenForYouRow{
    margin:5px;
}

 .carousel-control-next, .carousel-control-prev{
    width: 5% !important;
}

.chosenForYouCarousel a.carousel-control-prev{
    margin-left: -60px !important;
}

.carousel-control-prev-icon{
    background-image: url("../assets/prevIcon.png") !important;
    width: 40px !important;
    height: 40px !important;
}

.carousel-control-next-icon{
    background-image: url("../assets/nextIcon.png") !important;
    width: 40px !important;
    height: 40px !important;
}

.carousel-indicators li{
    background-color:$navBackgroundColor;
    height: 8px !important;
}

.chosenForYouCarousel ol.carousel-indicators{
    display:none;
}
.discoverCarouselItem a.carousel-control-prev, .discoverCarouselItem a.carousel-control-next{
    display:none;
}