@import './variables';
@import './functions';


body {
    font-family: Open Sans !important;
    background: #3F6A0E !important;
    color: #F8F8F8 !important;
    
  }

  //JUMBOTRON SALE

  .jumbotronSale {
    margin:0px !important;
    padding:0px !important;
  }

//SLIDE MAIN
.slideMainBtn{
    @include mainText($primaryTextWhite,$textBolder,$largeFontSize);
    letter-spacing: $letterSpacing;
    @include otherBtn();
    background: $greenBtn;

    //CHECK !IMPORTANT HOW TO OVERWRITE PROPERLY!!!!!!!!!
    
}

.cardGroup {
    margin:15px !important; 
}

.card-body {
    padding: 0px !important;
    padding-left: 15px !important;
}
  
.subtitleLargest {
    @include mainText($primaryTextWhite,$textBolder,$largestFontSize);
    
}

.subtitleLarge {
    @include mainText($primaryTextWhite,0,$largeFontSize);
    letter-spacing: $letterSpacing;
}

.subtitleOne {
    @include mainText($primaryTextWhite,$textBolder,$subtitleOneFontSize);
    
}

.subtitleTwo {
    @include mainText($primaryTextWhite,$textBolder,$subtitleTwoFontSize);
    letter-spacing: $letterSpacing;
}

.navSubtitleOne {
    @include mainText($primaryTextLightGrey,$textBolder,$subtitleTwoFontSize);
    text-transform: uppercase;
}

.navSubtitleTwo {
    @include mainText($primaryTextDarkGrey,0,$subtitleTwoFontSize);
}
