body {
  font-family: Open Sans !important;
  background: #F8F8F8 !important;
  color: #F8F8F8 !important;
}

.basicDescriptionText {
  color: #2B2B28 !important;
  font-weight: 0 !important;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.card-body {
  background-color: rgba(209, 185, 227, 0.25);
}

.card-title {
  color: #2B2B28;
}

.jumbotronSale {
  margin: 0px !important;
  padding: 0px !important;
}

.slideMainBtn {
  color: #F8F8F8 !important;
  font-weight: bolder !important;
  font-size: 16px;
  letter-spacing: 0.4px;
  border: 0.4px solid rgba(43, 43, 40, 0.4) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #3FAF2E !important;
}

.cardPriceProduct {
  top: -10rem;
  z-index: 1;
  margin-left: 14rem;
}

.cardPrice {
  -webkit-box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.3) !important;
  background-color: rgba(139, 80, 185, 0.5) !important;
  color: #CCCCCC !important;
}

.breadcrumb {
  padding: 0px !important;
  background-color: transparent !important;
  margin-left: 30px;
}

.breadcrumb-item a {
  color: #2B2B28;
}

.modal-open {
  padding: 0px !important;
}

.modal-dialog {
  margin-top: 5% !important;
}

.modalSearch .modal-dialog {
  margin-top: 0% !important;
}

.modalSearch .modal-content {
  background-color: transparent;
  border: none;
}

.searchFormControl .form-control {
  width: 80% !important;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.searchFormControl input {
  background-color: transparent !important;
  color: #CCCCCC !important;
}

.containerSearchBar.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2B2B28;
  background-color: #F8F8F8;
}

.basketModal .modal-dialog {
  margin-right: 25px;
}

.containerSearchBar div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cardSearchBar.card {
  border-radius: 0px;
}

.transparentBtn {
  color: #2B2B28 !important;
  font-weight: bolder !important;
  font-size: 16px;
  letter-spacing: 0.4px;
  border: 0.4px solid rgba(43, 43, 40, 0.4) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: rgba(248, 248, 248, 0) !important;
  margin-left: 10px;
}

.discoverButton {
  background-color: #8C50B9 !important;
  margin-left: !important;
}

.cardGroup {
  margin: 15px !important;
  padding: 3px !important;
}

.colGroup {
  padding: 0px !important;
}

.colGroupPromotion {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.rowGroup {
  padding: 0px !important;
  margin: 0px !important;
}

.card-body {
  padding: 0px !important;
  padding-left: 15px !important;
}

.subtitleLargest {
  color: #2B2B28 !important;
  font-weight: bolder !important;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

hr {
  background-color: #AF85CE;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(184, 184, 184, 0.6);
          box-shadow: 0px 1px 3px 1px rgba(184, 184, 184, 0.6);
}

.subtitleLarge {
  color: #F8F8F8 !important;
  font-weight: 0 !important;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.subtitleOne {
  color: #F8F8F8 !important;
  font-weight: bolder !important;
  font-size: 12px;
}

.subtitleTwo {
  color: #F8F8F8 !important;
  font-weight: bolder !important;
  font-size: 10px;
  letter-spacing: 0.4px;
}

.navbarMain {
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
  background-color: rgba(133, 206, 176, 0.911) !important;
  color: #CCCCCC !important;
}

.nav-link {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar-brand {
  color: #F8F8F8 !important;
}

footer {
  letter-spacing: 1px;
  background-color: #8C50B9;
}

a {
  color: #2B2B28 !important;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
}

a:hover {
  color: #F8F8F8 !important;
  font-size: 18px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

a img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding: 0px !important;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.footerTopElementOne {
  border: 0.3px solid #2B2B28;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.356);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.356);
  border-radius: 1px;
}

.footerBottom {
  background-color: #724792;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px;
  padding-bottom: 10px;
  letter-spacing: 5px;
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media screen and (max-width: 465px) {
  .nav-link {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .footerTopElementOne:first-child img {
    cursor: pointer;
    width: 45px;
    height: 45px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .footerTopElementOne:first-child a {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .hideSetionMediaOne {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */